@import "_mixins/font-face";

// Geneva
/* @include font-face("Geneva", "../fonts/Helvetica/HelveticaLight/HelveticaLight", normal); */
@include font-face("Geneva", "../fonts/Helvetica/HelveticaLight/HelveticaLight", normal);

// Helvetica
@include font-face("Helvetica", "../fonts/Helvetica/HelveticaLight/HelveticaLight", 300);

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon/icomoon.eot?3q8fqq');
  src:  url('../fonts/icomoon/icomoon.eot?3q8fqq#iefix') format('embedded-opentype'),
    url('../fonts/icomoon/icomoon.ttf?3q8fqq') format('truetype'),
    url('../fonts/icomoon/icomoon.woff?3q8fqq') format('woff'),
    url('../fonts/icomoon/icomoon.svg?3q8fqq#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon-cart:before {
  content: "\e900";
}
.icon-icon-catalog-arrow .path1:before {
  content: "\e901";
  color: rgb(57, 76, 103);
}
.icon-icon-catalog-arrow .path2:before {
  content: "\e902";
  margin-left: -1em;
  color: rgb(58, 77, 103);
}
.icon-icon-close:before {
  content: "\e903";
  color: #a9aaaa;
}
.icon-icon-controls-group-1:before {
  content: "\e904";
  color: #fff;
}
.icon-icon-controls-group-2:before {
  content: "\e905";
  color: #a9a7a7;
}
.icon-icon-favorite:before {
  content: "\e906";
}
.icon-icon-favorite-arrow:before {
  content: "\e907";
  color: #828080;
}
.icon-icon-filter:before {
  content: "\e908";
}
.icon-icon-filter-arrow:before {
  content: "\e909";
  color: #828080;
}
.icon-icon-grid-load .path1:before {
  content: "\e90a";
  color: rgb(57, 76, 102);
}
.icon-icon-grid-load .path2:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-icon-grid-load .path3:before {
  content: "\e90c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-icon-mail:before {
  content: "\e90d";
}
.icon-icon-menu:before {
  content: "\e90e";
  color: #fff;
}
.icon-icon-menu-arrow:before {
  content: "\e90f";
  color: #fff;
}
.icon-icon-mobile-catalog-menu:before {
  content: "\e910";
  color: #828080;
}
.icon-icon-mobile-menu-arrow:before {
  content: "\e911";
  color: #828080;
}
.icon-icon-mobile-menu-mail .path1:before {
  content: "\e912";
  color: rgb(255, 255, 255);
}
.icon-icon-mobile-menu-mail .path2:before {
  content: "\e913";
  margin-left: -1em;
  color: none;
}
.icon-icon-mobile-menu-mail .path3:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(57, 76, 102);
}
.icon-icon-mobile-menu-mail .path4:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(57, 76, 102);
}
.icon-icon-mobile-navigation:before {
  content: "\e916";
  color: #828080;
}
.icon-icon-scroll-top:before {
  content: "\e917";
  color: #394c66;
}
.icon-icon-select-arrow:before {
  content: "\e918";
  color: #394c66;
}
.icon-icon-select-arrow-down:before {
  content: "\e919";
  color: #fff;
}
.icon-icon-slider-left:before {
  content: "\e91a";
  color: #394c66;
}
.icon-icon-slider-right:before {
  content: "\e91b";
  color: #394c66;
}
.icon-icon-trash:before {
  content: "\e91c";
}
.icon-icon-ui-slider .path1:before {
  content: "\e91d";
  color: rgb(0, 0, 0);
  opacity: 0.0156;
}
.icon-icon-ui-slider .path2:before {
  content: "\e91e";
  margin-left: -1em;
  color: rgb(190, 80, 60);
}
