.catalog-item__buttons{
	display: none;
	align-items: center;
	align-items: space-between;
	margin-top: 20px;
	margin-bottom: 32px;
}

.catalog-item__button-buy{
	background: #ca5b3f;
	border-radius: 3px;
	border: none;
	color: white;
	padding: 10px 20px;
	margin-right: 10px;
	font-size: .8125rem;
    font-family: Geneva;
    font-weight: 400;
    cursor: pointer;
    &:hover{
    	background: #CA5B62;
    }
}

.catalog-item__buttons-col{
	display: flex;
	flex-direction: column;
}

.catalog-item__buttons-row{
	display: flex;
	align-items: center;
	&:hover{
		color: #ca5b3f;
		.catalog-item__link{
			color: #ca5b3f;
		}
	}
}

.catalog-item__link{
	color: #a1a0a0;
    margin-left: 5px;
    text-decoration: none;
    font-size: .8125rem;
    font-family: Geneva;
    font-weight: 400;
    &:hover{
    	text-decoration: none;
		color: #a1a0a0;
    }
}