.catalog-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  

  .catalog-item {
    border: 0.5px solid #b4b4b4;

    .catalog-item__ship{
      display: none;
      background-color: #5e8fd1;
    }
    
    &:first-child{
      border-top-left-radius: 3px;
    }
    &:nth-child(4){
      border-top-right-radius: 3px;
    }
    &:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4){
      border-top: 1px solid #b4b4b4;
    }
    &:hover{
      border-color: #5e8fd1 !important;
      .catalog-item__ship{
        display: block;
      }
      .catalog-item-attribute{
        display: none;
      }
      .catalog-item__buttons{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
      }
    }
  }


}

a.catalog-grid__load {
  width: 100%;
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #b4b4b4;
  border-left: 1px solid #b4b4b4;
  border-right: 1px solid #b4b4b4;
  margin-bottom: 50px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  text-decoration: none;

  span {
    color: #314c71;
    font-family: 'Helvetica';
    font-size: 13px;
    font-weight: 300;
    margin-top: 5px;
  }
}