@import "__item/slider-container__item.scss";

.slider-container {

  &.owl-theme .owl-nav {
    margin-top: 0;
    top: 139px;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    pointer-events: none;
  }

  &.owl-theme .owl-nav [class*="owl-"] {
    width: 55px;
    height: 131px;
    margin: 0;
    background-color: rgba(206, 205, 205, 0.29);
  }

  &.owl-theme .owl-nav .owl-prev {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    pointer-events: auto;
  }

  &.owl-theme .owl-nav .owl-next {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    pointer-events: auto;
  }

  &.owl-theme .owl-dots {
    margin-top: 13px;
  }

  &.owl-theme .owl-dots .owl-dot.active span {
    background-color: #dc3e4c;
  }
  &.owl-theme .owl-dots .owl-dot span {
    background-color: #f0f2f2;
    box-shadow: inset 0 2px 5px rgba(0,0,0,0.2);
  }
}